/*reference
image: http://www.threepullpa.com/317423-blurred-background-grey.html*/
/*//APPLICANT NAME: CALEB TONY-ENWIN*/

@media only screen and (max-width: 124px){
    #data-container{ width: 70%; }
}


#headerText {
    text-align: center;
    text-transform: uppercase;
    color: white;
}

#main{
  background-image: url("city.png");
  background-size: cover;
  color: white;
  margin-left:auto;
    margin-right:auto;
    width:960px;
}

#widget{
  background-color: #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=30); /* For IE8 and earlier */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 38%;
  height: 33%;
  box-shadow:  0 0 20px #000000;
  border-radius: 1%;
}

#weather{
  position: absolute;
  top: 290px;
  right: 0;
  bottom: 0;
  left: 34%;
  margin: auto;
  float: left;
}

#data-container {
    font-family : sans-serif;
  text-shadow: 0 0 5px #000000;
}

#city{
  font-size: 20px;
  margin-bottom: -65px;

}

#temperature{
  font-size: 70px;
  margin-bottom: -5px;

}

#description{
  font-size: 20px;
  float: left;
}

#icon{
  height: 80px;
  width: 80px;
  margin-left: -40px;
  margin-top: -80px;
}

#time{
  position: absolute;
  top: 250px;
  right: 0;
  bottom: 0;
  left: 53%;
  margin: auto;
}


#hour{
  font-size: 50px;
    font-family:  "Andale Mono", monospace;
    float: left;
}



#minute{
  font-size: 50px;
    font-family:  "Andale Mono", monospace;
    margin-bottom: -20px;
}

#day{
  font-size: 20px;
  float: left;
  margin-left: -58px;
}

#month{
  font-size: 20px;
float: left;
margin-left: -15px;
}

#date{
  font-size: 20px;
  float: left;
  margin-left: 5px;
}

#author{
  font-size: 11px;
  color: black;
  margin-top: 15%;
  margin-left: 43%;
  float: left;
  position: absolute;
}
